################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoderbyteChallenges/CoderbyteChallenges/bin/Debug
/CoderbyteChallenges/CoderbyteChallenges/obj/Debug
/CoderbyteChallenges/CoderbyteChallenges.v12.suo
/CoderbyteChallenges/CcoderbyteChallenges.v12.suo
/CoderbyteChallenges/TestResults
/CoderbyteChallenges
