################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoderbyteChallenges/CoderbyteChallenges/bin/Debug
/CoderbyteChallenges/CoderbyteChallenges/obj/Debug
/CoderbyteChallenges/CoderbyteChallenges.v12.suo
/CoderbyteChallenges/CcoderbyteChallenges.v12.suo
/CoderbyteChallenges/TestResults/6093d2af-86cb-44a7-870b-4fcd5d9a5a12
